* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.store-natice {
  position: relative;
  color: #fff;
  background: #233a95;
  z-index: 1001;
}

.store-natice .container {
  font-size: .75rem;
  text-align: center;
  padding-top: 0.5625rem;
  padding-bottom: 0.5625rem;
}

#head-section-nav {
  font-size: 13px;
  height: 50px;
}

#head-section-nav .container-head .row #left-colum ul li {
  list-style: none;
}

#head-section-nav .container-head .row #left-colum ul li a {
  text-decoration: none;
  cursor: pointer;
  color: #3e445a;
}

#head-section-nav .container-head .row #left-colum ul li a:hover {
  color: #24adf3;
}

.head-nav {
  padding: 20px 9% 0 0;
  padding-left: 5%;
  border-bottom: 1px solid #cdcdcd;
}

.myborderbtm {
  border-bottom: 1px solid #cdcdcd;
}

.myborderleft {
  border-left: 1px solid #cdcdcd;
}

.myborderrigth {
  border-right: 1px solid #cdcdcd;
  padding-right: 10px;
}

.change-nav li > a {
  color: #3e445a;
}

.change-nav .drpdwnT {
  border: none;
  position: relative;
  padding: 12px;
}

.change-nav .drpdwnT:hover + .drpdwnM {
  visibility: visible;
  padding: 20px 34px;
  background: white;
}

.change-nav .drpdwnM {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  overflow: hidden;
  left: -20px;
  top: 44px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  visibility: hidden;
  z-index: 1;
}

.change-nav .drpdwnM:hover {
  visibility: visible;
  padding: 20px 34px;
  background: white;
}

.change-nav .drpdwnM a {
  padding: 3px 0px;
  color: #3e445a;
}

.change-nav .drpdwnM a:hover {
  color: #2bc7fbff;
}

.main-nav {
  padding: 24px 0;
  padding-left: 9%;
  display: inline;
}

.main-nav img {
  width: 160px;
}

.main-nav .logoTitle {
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.5;
}

.main-nav .location {
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  padding: 8px 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  margin-top: 8px;
}

.main-nav .location .title {
  font-size: 11px;
  opacity: 0.8;
  font-family: Arial, Helvetica, sans-serif;
}

.main-nav .location .content {
  color: #233a95ff;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.main-nav .searchProduct {
  margin-top: 10px;
  position: relative;
}

.main-nav .searchProduct i {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 30px;
}

.main-nav .searchProduct input {
  width: 100%;
  padding: 15px 20px;
  background: #f4f4f4;
  border: none;
  border-radius: 10px;
}

.main-nav .searchProduct input:focus {
  outline: none;
}

.right-main-nav {
  padding: 15px 15px;
}

.basket {
  margin-top: -15px;
  cursor: pointer;
}

.basket .price {
  margin-top: -15px;
}

.basket .basketIcon {
  font-size: 30px;
  color: red;
  background: #fff1eeff;
  border-radius: 50%;
  padding: 10px;
  position: relative;
}

.basket .basketIcon .count {
  position: absolute;
  font-size: 15px;
  border-radius: 50%;
  padding: 2px 5px;
  background: red;
  color: white;
  right: -5px;
  top: -2px;
}

.userIcon i {
  border: 1px solid grey;
  border-radius: 50%;
  padding: 10px 12px;
  font-size: 20px;
}

.footer-nav {
  border-bottom: 1px solid;
  padding-left: 9%;
}

.footer-nav .cotogorie {
  position: relative;
}

.footer-nav .btnCategori {
  border-radius: 20px;
  padding: 10px 0 10px 0;
  color: white;
  font-weight: 600;
  width: 70%;
}

.footer-nav .btnTotal {
  position: absolute;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  width: 30%;
  z-index: 2;
  padding-top: 5px;
  height: 20px;
  overflow: hidden;
  top: 50%;
  left: 20%;
  font-size: 8px;
  color: rgba(100, 100, 111, 0.8);
}

.footer-nav nav {
  font-size: 14px;
  font-weight: 600;
}

.footer-nav nav ul {
  text-decoration: none;
  list-style: none;
}

.footer-nav nav ul .home {
  height: 50px;
  position: relative;
}

.footer-nav nav ul .home:hover .HomeSubMenu {
  margin-top: 24.5px;
  visibility: visible;
  background-color: white;
  z-index: 2;
}

.footer-nav nav ul .home .HomeSubMenu {
  position: absolute;
  visibility: hidden;
  width: 150%;
  left: -24px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  background: white;
  z-index: 2;
}

.footer-nav nav ul .home .HomeSubMenu:hover {
  visibility: visible;
  background-color: white;
}

.footer-nav nav ul .home .HomeSubMenu li {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-nav nav ul .home .HomeSubMenu li a {
  padding: 5px 55px 0px 5px;
  width: 100%;
}

.footer-nav nav ul .home .HomeSubMenu li a:hover {
  padding: 5px 55px 0px 5px;
  background-color: white;
  color: #2bc7fbff;
}

.footer-nav nav ul .shop {
  height: 50px;
}

.footer-nav nav ul .shop .ShopSubMenu {
  visibility: hidden;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50%;
  left: 0;
  width: 100%;
  background: white;
  margin-top: 24.5px;
  z-index: 2;
}

.footer-nav nav ul .shop .ShopSubMenu > li {
  position: relative;
  margin-top: 20px;
}

.footer-nav nav ul .shop .ShopSubMenu > li .subListMenu {
  position: absolute;
  left: -15px;
  padding: 15px;
  width: 210px;
}

.footer-nav nav ul .shop .ShopSubMenu > li .subListMenu li {
  padding: 15px;
  margin-top: 15px;
}

.footer-nav nav ul .shop .ShopSubMenu > li .subListMenu li a {
  top: 15px;
  background-color: white;
  margin-top: 15px;
}

.footer-nav nav ul .shop .ShopSubMenu > li > a {
  color: blue;
  border: none;
  background: white;
}

.footer-nav nav ul .shop:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-nav nav ul .shop:hover .ShopSubMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  visibility: visible;
  height: 50%;
  background: white;
  width: 100%;
  margin-top: 24.5px;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  z-index: 2;
}

.footer-nav nav ul .shop:hover .ShopSubMenu > li {
  position: relative;
  margin-top: 20px;
}

.footer-nav nav ul .shop:hover .ShopSubMenu > li .subListMenu {
  position: absolute;
  left: -15px;
  padding: 15px;
  width: 210px;
}

.footer-nav nav ul .shop:hover .ShopSubMenu > li .subListMenu li {
  padding: 15px;
  margin-top: 15px;
}

.footer-nav nav ul .shop:hover .ShopSubMenu > li .subListMenu li a {
  top: 15px;
  background-color: white;
  margin-top: 15px;
}

.footer-nav nav ul .shop:hover .ShopSubMenu > li > a {
  color: blue;
  border: none;
  background: white;
}

.footer-nav nav ul li {
  padding: 0px !important;
}

.footer-nav nav ul li > a {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
}

.footer-nav nav ul li > a:hover {
  padding: 10px 15px;
  border-radius: 30px;
  background-color: #cbeaff;
  color: #2bc7fbff;
}
/*# sourceMappingURL=main.css.map */